* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
.child1{
    text-align: center;
    border: 1px solid black;
}

body{
    background-color: gray;
}

.image_conteiner{
    display: flex;
    align-items: center;
    margin-left: -15px;
    /* margin: 10px 50px; */
}

img{
    margin: 10px 50px;
    width: 10%;
    height: auto;
    filter: grayscale(100%);
    transition: 1s;
   
}

img:hover{
    /* width: 30%;
    height: auto; */
    cursor: pointer;
    filter: grayscale(0%);
    transform: scale(3);
}